<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>登録金融機関</title>
</head>
<body>

<h1>登録金融機関</h1>

<h2>契約者情報</h2>
<p>id:<%= @id %></p>
<p>name:<%= @name %></p>

<h2>契約口座一覧</h2>
<% @bank_list.each do |bank_info| -%>
    <p>銀行:<%= bank_info[:name] %></p>
    <p>残高:<%= bank_info[:balance] %></p>
<% end -%>

<a href="/user_banks/index">戻る</a>

</body>
</html>