<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>登録金融機関</title>
</head>
<body>

<h1>登録金融機関</h1>

<p>ユーザーID番号を入力して送信してください。</p>

<%= @err %>

<%= form_for :user_banks, url: user_banks_bank_path do |f| %>
    <p>user_id:<%= f.number_field :userid %></p>
    <p><%= f.submit %></p>
<% end %>

</body>
</html>